<p id="notice"><%= notice %></p>

<h1>Disciplines</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= sortable "name" %></th>
      <th scope="col"><%= sortable "course" %></th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= link_to discipline.name, discipline %></td>
        <td><%= link_to discipline.course.name, discipline.course %></td>
        <td><%= link_to 'Edit', edit_discipline_path(discipline) %></td>
        <td><%= link_to 'Destroy', discipline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discipline', new_discipline_path, class: "btn btn-dark" %>
