<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discipline.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= link_to @discipline.course.name, @discipline.course  %>
</p>

<p>
  <strong>School:</strong>
  <%= link_to @discipline.course.school.name, @discipline.course.school %>
</p>

<p>
  <strong>Organic Unit:</strong>
  <%= link_to @discipline.course.school.organic_unit.name, @discipline.course.school.organic_unit %>
</p>

<h5>Lessons from this Discipline</h3>

<ul class="list-group list-group-horizontal mb-3">
  <% @discipline.lessons.each do |lesson| %>
    <li class="list-group-item list-group-item-dark">
      <%= link_to lesson.name, lesson %>
    </li>
  <% end %>
</ul>  

<%= link_to 'Back', disciplines_path, class: "btn btn-secondary" %>
<%= link_to 'Edit', edit_discipline_path(@discipline), class: "btn btn-dark" %>
