<div class="text-center container mt-5">
  <div class="card mb-4">

    <div class="text-center mb-4">
      <span class="display-4 font-weight-normal">Edit <%= resource_name.to_s.humanize %></span>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row d-flex justify-content-center mb-4">
        <span class="col-1">
          <%= f.label :email %><br />
        </span>
        <div class="col-6">
          <%=  f.email_field :email, autofocus: true, autocomplete: "email" , required:"", class:"form-control"%>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row d-flex justify-content-center mb-4">
        <span class="col-2">
          <%= f.label :current_password %><br />
        </span>
        <div class="col-5">
          <%=  f.password_field :current_password, autocomplete: "current-password", placeholder:"we need your current password to confirm your changes", required:"", class:"form-control"%>
        </div>
      </div>

      <div class="row d-flex justify-content-center mb-4">
        <span class="col-3">
          <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </span>
        <div class="col-4">
          <%= f.password_field :password, autocomplete: "new-password", placeholder:"leave blank if you don't want to change it", class:"form-control" %>
        </div>
      </div>

      <div class="row d-flex justify-content-center mb-4">
        <span class="col-3">
          <%= f.label :password_confirmation %><br />
        </span>
        <div class="col-4">
          <%=  f.password_field :password_confirmation, autocomplete: "new-password", required:"", class:"form-control"%>
        </div>
      </div>      

      <div class="actions row justify-content-md-center">
        <%= f.submit "Update", class:"btn btn-dark btn-lg col-6 mb-4" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? 
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-secondary" %>
    </p>

    <%= link_to "Back", :back %>

  </div>
</div>
