<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @person.extension %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Cabinet:</strong>
  <%= @person.cabinet %>
</p>

<p>
  <strong>Job title #1:</strong>
  <%= @person.job_title_1 %>
</p>

<p>
  <strong>Job title #2:</strong>
  <%= @person.job_title_2 %>
</p>

<p>
  <strong>Job title #3:</strong>
  <%= @person.job_title_3 %>
</p>

<h5>Lessons from this Person</h5>

<ul class="list-group list-group-horizontal mb-3">
  <% @person.lessons.each do |lesson| %>
    <li class="list-group-item list-group-item-dark"><%= link_to lesson.name, lesson %></li>
  <% end %>
</ul>  

<h5>Reservations from this Person</h5>

<ul class="list-group list-group-horizontal mb-3">
  <% @person.reservations.each do |reservation| %>
    <li class="list-group-item list-group-item-dark"><%= reservation.space.name %> @ <%= reservation.date %>, <%= reservation.start_time.strftime("%I:%M%p") %> - <%= reservation.end_time.strftime("%I:%M%p") %></li>
  <% end %>
</ul>  

<%= link_to 'Back', people_path, class: "btn btn-secondary" %>
<%= link_to 'Edit', edit_person_path(@person), class: "btn btn-dark" %>

