<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @person.extension %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Cabinet:</strong>
  <%= @person.cabinet %>
</p>

<p>
  <strong>Job title #1:</strong>
  <%= @person.job_title_1 %>
</p>

<p>
  <strong>Job title #2:</strong>
  <%= @person.job_title_2 %>
</p>

<p>
  <strong>Job title #3:</strong>
  <%= @person.job_title_3 %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
