<p id="notice"><%= notice %></p>

<h1>Urls</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Url</th>
      <th scope="col">Course</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><a href=<%= url.url %>><%= url.url %></a> </td>
        <td><%= url.course.name %></td>
        <td><%= link_to 'Show', url %></td>
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path, class: "btn btn-dark"  %>
