<%= form_with(model: organic_unit, local: true) do |form| %>
  <% if organic_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organic_unit.errors.count, "error") %> prohibited this organic_unit from being saved:</h2>

      <ul>
      <% organic_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :acronym, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :acronym, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
  <%= link_to 'Back', organic_units_path, class: "btn btn-secondary" %>
    <%= form.submit class: "btn btn-dark" %>
  </div>

<% end %>
