<p id="notice"><%= notice %></p>

<h1>Organic Units</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= sortable "name" %></th>
      <th scope="col"><%= sortable "acronym" %></th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organic_units.each do |organic_unit| %>
      <% cache organic_unit do %>
        <tr>
          <td><%= link_to organic_unit.name, organic_unit %></td>
          <td><%= organic_unit.acronym %></td>
          <td><%= link_to 'Edit', edit_organic_unit_path(organic_unit) %></td>
          <td><%= link_to 'Destroy', organic_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organic Unit', new_organic_unit_path, class: "btn btn-dark" %>
