<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @space.department %>
</p>

<p>
  <strong>Type of space:</strong>
  <%= @space.type_of_space %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @space.capacity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @space.description %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @space.availability %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @space.equipment %>
</p>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
