<p id="notice"><%= notice %></p>

<p>
  <strong>Reason:</strong>
  <%= @reservation.reason %>
</p>

<p>
  <strong>State:</strong>
  <%= @reservation.state %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @reservation.start_time.strftime("%I:%M%p") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @reservation.end_time.strftime("%I:%M%p") %>
</p>

<p>
  <strong>Person:</strong>
  <%= @reservation.person.name %>
</p>

<p>
  <strong>Space:</strong>
  <%= @reservation.space.name %>
</p>

<%= link_to 'Back', reservations_path, class: "btn btn-secondary" %>
<%= link_to 'Edit', edit_reservation_path(@reservation), class: "btn btn-dark" %>