<%= form_with(model: lesson, local: true) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :lesson_type, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :lesson_type, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :week_day, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :week_day, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :start_time, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.time_select :start_time,
       { prompt: {hour: 'Choose hour', minute: 'Choose minute'}, minute_step: 30 },
        { class: 'form-control pull-left', style: 'width: 10%; margin-right: 10px;' } %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :end_time, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.time_select :end_time,
       { prompt: {hour: 'Choose hour', minute: 'Choose minute'}, minute_step: 30 },
        { class: 'form-control pull-left', style: 'width: 10%; margin-right: 10px;' } %>
      
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :discipline_name, class: "col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
        <%= collection_select(:lesson, :discipline_id, Discipline.all, :id, :name, {}, {class: "custom-select"}) %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :person_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= collection_select(:lesson, :person_id, Person.all, :id, :name, {}, {class: "custom-select"}) %>
    </div>
  </div>

  <div class="form-group row">    
    <%= form.label :space_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= collection_select(:lesson, :space_id, Space.all, :id, :name, {}, {class: "custom-select"}) %>
    </div>
  </div>

  <div class="actions">
      <%= link_to 'Back', lessons_path, class: "btn btn-secondary" %>
    <%= form.submit class: "btn btn-dark" %>
  </div>
<% end %>
