<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @lesson_schedule.lesson.name %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @lesson_schedule.schedule.name %>
</p>

<%= link_to 'Edit', edit_lesson_schedule_path(@lesson_schedule) %> |
<%= link_to 'Back', lesson_schedules_path %>
