<p id="notice"><%= notice %></p>

<h1>Schools</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">School name</th>
      <th scope="col">Acronym</th>
      <th scope="col">Complete address</th>
      <th scope="col">Organic unit</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <% cache school do %>
        <tr>
          <td><%= link_to school.name, school %></td>
          <td><%= school.acronym %></td>
          <td><%= school.address %></td>
          <td><%= link_to school.organic_unit.name, school.organic_unit %></td>
          <td><%= link_to 'Edit', edit_school_path(school) %></td>
          <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path, class: "btn btn-dark" %>
