<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @school.acronym %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Organic unit:</strong>
  <%= link_to @school.organic_unit.name, @school.organic_unit %>
</p>

<h5>Courses from this School</h5>

<ul class="list-group list-group-horizontal mb-3">
  <% @school.courses.each do |course| %>
    <li class="list-group-item list-group-item-dark"><%= link_to course.name, course %></li>
  <% end %>
</ul>  

<%= link_to 'Back', schools_path, class: "btn btn-secondary" %>
<%= link_to 'Edit', edit_school_path(@school), class: "btn btn-dark" %>