<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>School:</strong>
  <%= link_to @course.school.name, @course.school %> 
</p>

<p>
  <strong>Organic Unit:</strong>
  <%= link_to @course.school.organic_unit.name, @course.school.organic_unit %> 
</p>

<h5>Disciplines from this Course</h5>

<ul class="list-group list-group-horizontal mb-3">
  <% @course.disciplines.each do |discipline| %>
    <li class="list-group-item list-group-item-dark">
        <%= link_to discipline.name, discipline %>
    </li>
  <% end %>
</ul>  

<h5>Urls from this Course</h3>

<ul class="list-group list-group-horizontal mb-3">
  <% @course.urls.each do |url| %>
    <li class="list-group-item list-group-item-dark">
      <a href=<%= url.url %>>
        <%= url.url %>
      </a>
    </li>
  <% end %>
</ul>  

<%= link_to 'Back', courses_path, class: "btn btn-secondary" %>
<%= link_to 'Edit', edit_course_path(@course), class: "btn btn-dark" %>