<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @course.school.name %> 
</p>

<p>
  <strong>Organic Unit:</strong>
  <%= @course.school.organic_unit.name %> 
</p>

<h5>Disciplines from this Course</h5>

<ul class="list-group list-group-horizontal">
  <% @course.disciplines.each do |discipline| %>
    <li class="list-group-item">
        <%= discipline.name %>
    </li>
  <% end %>
</ul>  

<h5>Urls from this Course</h3>

<ul class="list-group list-group-horizontal">
  <% @course.urls.each do |url| %>
    <li class="list-group-item">
      <a href=<%= url.url %>>
        <%= url.url %>
      </a>
    </li>
  <% end %>
</ul>  

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
