

<% if user_signed_in? == false %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="/">Schedules</a>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <div>
            <%= render 'layouts/pesquisarSala' %>
            </div>
            <!-- LOGIN -->
            <div>
                <%= link_to 'Login', new_user_session_path, class:"btn btn-sm btn-secondary" %>
                <%= link_to 'Register', new_user_registration_path, class:"btn btn-sm btn-secondary" %>
            </div>
        </div>
    </nav>
<% else %> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="/">Schedules</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- RESERVAS -->
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkReservas" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reservas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkReservas">
                        <a class="dropdown-item" href="/reservations">Listar</a>
                        <a class="dropdown-item" href="/reservations/new">Nova</a>
                        <%# <a class="dropdown-item" href="#">Pendentes</a>  %>
                    </div>
                </li>
                <!-- UTILIZADORES -->
                <!--
                <li class="nav-item active">
                    <a class="nav-link" href="#">Utilizadores</a>
                </li>
                 -->
                <!-- SALAS -->
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkSalas" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Salas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSalas">
                        <a class="dropdown-item" href="/spaces">Listar</a>
                        <a class="dropdown-item" href="/spaces/new">Nova</a>
                    </div>
                </li>
            </ul>

                <%= render 'layouts/pesquisarSala' %>

            <!-- LOGOUT -->
            <div>
                <span class="navbar-text align-middle">
                    Bem-vindo, 
                    <%= current_user.name %>
                </span>
                <%= link_to 'Perfil', edit_user_registration_path,class:"btn btn-sm btn-secondary" %>
                <%= link_to 'logout', destroy_user_session_path, method: :delete, class:"btn btn-sm btn-secondary" %>
            </div>
        </div>
    </nav>
<% end %>

    